body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio {
    color: #2e2f42;
}

.page-nav .link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.page-nav .link:hover {
    color: #404bbf;
}

.page-nav .link:active {
    color: #404bbf;
}

.page-nav .link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.one-section {
    background-color: #2e2f42;
}

.one-section .one-section-h {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.one-section .tab {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.one-section .tab:hover {
    background-color: #404BBF;
}

.one-section .tab:focus {
    background-color: #404BBF;
}